.mat-mini-fab {
    margin-top: 5%;
    margin-left: 90%;
    background-color: #3fb57a;
}
#delte{
    color: red;
}
#modifier{
    color: #41bd40;
}
#btn{
    margin-left: 6%;
}
#test{
    width: 90%;
    margin-left: 5%;
}
.panel-default {
    border-color: #ddd;
    width: 90%;
    margin-left: 5%;
}
